@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff'),
        url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.woff2') format('woff2'),
        url('../fonts/Poppins-Light.woff') format('woff'),
        url('../fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraBold.woff2') format('woff2'),
        url('../fonts/Poppins-ExtraBold.woff') format('woff'),
        url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff'),
        url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Black.woff2') format('woff2'),
        url('../fonts/Poppins-Black.woff') format('woff'),
        url('../fonts/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


/***********/

@font-face {
    font-family: 'REM';
    src: url('../fonts/gamingfonts/REM-Bold.woff2') format('woff2'),
        url('../fonts/gamingfonts/REM-Bold.woff') format('woff'),
        url('../fonts/gamingfonts/REM-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'REM';
    src: url('../fonts/gamingfonts/REM-Regular.woff2') format('woff2'),
        url('../fonts/gamingfonts/REM-Regular.woff') format('woff'),
        url('../fonts/gamingfonts/REM-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'REM';
    src: url('../fonts/gamingfonts/REM-Black.woff2') format('woff2'),
        url('../fonts/gamingfonts/REM-Black.woff') format('woff'),
        url('../fonts/gamingfonts/REM-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'REM';
    src: url('../fonts/gamingfonts/REM-SemiBold.woff2') format('woff2'),
        url('../fonts/gamingfonts/REM-SemiBold.woff') format('woff'),
        url('../fonts/gamingfonts/REM-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'REM';
    src: url('../fonts/gamingfonts/REM-Medium.woff2') format('woff2'),
        url('../fonts/gamingfonts/REM-Medium.woff') format('woff'),
        url('../fonts/gamingfonts/REM-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'REM';
    src: url('../fonts/gamingfonts/REM-ExtraBold.woff2') format('woff2'),
        url('../fonts/gamingfonts/REM-ExtraBold.woff') format('woff'),
        url('../fonts/gamingfonts/REM-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gluten';
    src: url('../fonts/gamingfonts/Gluten-Black.woff2') format('woff2'),
    url('../fonts/gamingfonts/Gluten-Black.woff') format('woff'),
    url('../fonts/gamingfonts/Gluten-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gluten';
    src: url('../fonts/gamingfonts/Gluten-ExtraBold.woff2') format('woff2'),
    url('../fonts/gamingfonts/Gluten-ExtraBold.woff') format('woff'),
    url('../fonts/gamingfonts/Gluten-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gluten';
    src: url('../fonts/gamingfonts/Gluten-Bold.woff2') format('woff2'),
    url('../fonts/gamingfonts/Gluten-Bold.woff') format('woff'),
    url('../fonts/gamingfonts/Gluten-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
